@using CmsA.Service.Inteface.Cms
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IPost _postService

@{

    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var servicePost = _postService.GetLocaliezedNameByPage("service", requestCulture);
    var projectPost = _postService.GetLocaliezedNameByPage("project", requestCulture);
    var certificatePost = _postService.GetLocaliezedNameByPage("certificate", requestCulture);


}

<div class="main-menu-wrapper__left">
    <div class="main-menu-wrapper__logo">
        <a href="/"><img src="~/logo.png" alt=""></a>
    </div>
    <div class="main-menu-wrapper__main-menu">
        <a href="#" class="mobile-nav__toggler">
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
        </a>


        <ul class="main-menu__list">

<a class="btn px-0 border-0 text-start text-white bg-transparent my-3 d-flex align-items-center justify-content-between  d-xl-none " data-bs-toggle="collapse" href="#service" role="button" aria-expanded="false" aria-controls="collapseExample">@Localizer.GetLocalizedHtmlString("service") <i class="fas fa-sort-down"></i></a>
 
<div class="collapse " id="service">
  <div class=" card-body">
  <ul class='d-block d-xl-none '>
       @foreach (var cert in servicePost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/service/@cert.Name">@cert.Title</a>
                        </li>

                    }
  </ul>  
  </div>
</div>


<a class="btn px-0 border-0 text-start text-white bg-transparent my-3 d-flex align-items-center justify-content-between d-xl-none " data-bs-toggle="collapse" href="#certificate" role="button" aria-expanded="false" aria-controls="collapseExample">@Localizer.GetLocalizedHtmlString("certificate")<i class="fas fa-sort-down"></i></a>
 
<div class="collapse " id="certificate">
  <div class=" card-body">
  <ul class='d-block d-xl-none '>
       @foreach (var cert in certificatePost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/service/@cert.Name">@cert.Title</a>
                        </li>

                    }
  </ul>  
  </div>
</div>


<a class="btn px-0 border-0 text-start text-white bg-transparent my-3 d-flex align-items-center justify-content-between d-xl-none " data-bs-toggle="collapse" href="#project" role="button" aria-expanded="false" aria-controls="collapseExample">@Localizer.GetLocalizedHtmlString("certificate")<i class="fas fa-sort-down"></i></a>
 
<div class="collapse " id="project">
  <div class=" card-body">
  <ul class='d-block d-xl-none '>
       @foreach (var cert in projectPost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/service/@cert.Name">@cert.Title</a>
                        </li>

                    }
  </ul>  
  </div>
</div>




            <li class="d-none  d-xl-block "><a href="/page/service">@Localizer.GetLocalizedHtmlString("service")</a>
 
                 <ul class="sub-menu">
                    @foreach (var cert in servicePost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/service/@cert.Name">@cert.Title</a>
                        </li>

                    }
                </ul>
            </li>

            <li class="d-none d-xl-block ">
                <a href="/page/certificate">@Localizer.GetLocalizedHtmlString("certificate")</a>
                <ul class="sub-menu">
                    @foreach (var cert in certificatePost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/certificate/@cert.Name">@cert.Title</a>
                        </li>

                    }

                </ul>
            </li>
            <li class="d-none d-xl-block "><a href="/page/project">@Localizer.GetLocalizedHtmlString("project")</a>
                  <ul class="sub-menu">
                     @foreach (var cert in projectPost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/project/@cert.Name">@cert.Title</a>

                        </li>

                    }
                  </ul>
            </li>

            <li class=""><a href="/contact">@Localizer.GetLocalizedHtmlString("contact")</a></li>
        </ul>
    </div>
</div>