@using CmsA.Service.Inteface.Cms
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IPost _postService
@inject IPage _pageService


@{


    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var pages = _pageService.GetLocaliezedName(requestCulture).ToList();

    //var servicePost = _postService.GetLocaliezedNameByPage("service", requestCulture);
    //var projectPost = _postService.GetLocaliezedNameByPage("project", requestCulture);
    //var certificatePost = _postService.GetLocaliezedNameByPage("certificate", requestCulture);
    //var productPost = _postService.GetLocaliezedNameByPage("product", requestCulture);

}


<div class="main-menu-wrapper__left">
    <div class="main-menu-wrapper__logo">
        <a href="/"><img src="~/logo.png" alt=""></a>
    </div>
    <div class="main-menu-wrapper__main-menu">
        <a href="#" class="mobile-nav__toggler">
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
        </a>

        <ul class="main-menu__list">

            @foreach (var pageItem in pages)
            {
                var posts = _postService.GetLocaliezedNameByPage(pageItem.Name, requestCulture).ToList();

                <li class="@(posts.Count()>0?"dropdown":"")">
                    <a href="/page/@pageItem.Name">@pageItem.Title</a>
                    @if (posts.Count() > 0)
                    {
                        <ul>
                            @foreach (var post in posts)
                            {
                                //  @if (post.Menu == null || post.Menu.Count <= 0)
                                <li class="@((post.Menu==null||post.Menu.Count()<=0)?"":"dropdown")">
                                    <a href="/page/project/@post.Name">@post.Title</a>
                                    @if (post.Menu != null && post.Menu.Count() > 0)
                                    {
                                        <ul>
                                            @foreach (var childItem in post.Menu)
                                            {
                                                var childItemItems = _postService.GetLocaliezedNameByParent(childItem.Id, requestCulture).ToList();
                                                <li class="@((childItemItems == null || childItemItems.Count() <= 0)?"":"dropdown")">
                                                    <a href="/page/project/@childItem.Name">@childItem.Title</a>
                                                    @if (childItemItems != null && childItemItems.Count() > 0)
                                                    {
                                                        <ul>
                                                            @foreach (var chidleChileItem in childItemItems)
                                                            {
                                                                <li> <a href="/page/project/@chidleChileItem.Name">@chidleChileItem.Title</a></li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }

                                        </ul>
                                    }

                                </li>
                            }

                        </ul>
                    }


                </li>
            }


          

            @*<li class=""><a href="/page/contact">@Localizer.GetLocalizedHtmlString("contact")</a></li>*@

        </ul>
    </div>
</div>