@using CmsA.Service.Inteface.Cms
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IPost _postService

@{

    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var servicePost = _postService.GetLocaliezedNameByPage("service", requestCulture);
    var projectPost = _postService.GetLocaliezedNameByPage("project", requestCulture);
    var certificatePost = _postService.GetLocaliezedNameByPage("certificate", requestCulture);


}

<div class="main-menu-wrapper__left">
    <div class="main-menu-wrapper__logo">
        <a href="/"><img src="~/logo.png" alt=""></a>
    </div>
    <div class="main-menu-wrapper__main-menu">
        <a href="#" class="mobile-nav__toggler">
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
        </a>
        <ul class="main-menu__list">
            <li class=""><a href="/page/service">@Localizer.GetLocalizedHtmlString("service")</a>
                 <ul class="sub-menu">
                    @foreach (var cert in servicePost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/service/@cert.Name">@cert.Title</a>
                        </li>

                    }
                </ul>
            </li>
            <li class="">
                <a href="/page/certificate">@Localizer.GetLocalizedHtmlString("certificate")</a>
                <ul class="sub-menu">
                    @foreach (var cert in certificatePost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/certificate/@cert.Name">@cert.Title</a>
                        </li>

                    }

                </ul>
            </li>
            <li class=""><a href="/page/project">@Localizer.GetLocalizedHtmlString("project")</a>
                  <ul class="sub-menu">
                     @foreach (var cert in projectPost)
                    {
                        <li id="menu-item-63" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-63">
                            <a href="/page/project/@cert.Name">@cert.Title</a>
                        </li>

                    }
                  </ul>
            </li>
            <li class=""><a href="/contact">@Localizer.GetLocalizedHtmlString("contact")ə</a></li>
        </ul>
    </div>
</div>