@using CmsA.Service.Inteface.Cms
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> LocOptions
@inject IPost _postService

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>().RequestCulture.Culture.Name;
    var servicePost = _postService.GetLocaliezedNameByPage("service", requestCulture);
    var projectPost = _postService.GetLocaliezedNameByPage("project", requestCulture);
    var certificatePost = _postService.GetLocaliezedNameByPage("certificate", requestCulture);
    var productPost = _postService.GetLocaliezedNameByPage("product", requestCulture);
}


<div class="main-menu-wrapper__left">
    <div class="main-menu-wrapper__logo">
        <a href="/"><img src="~/logo.png" alt=""></a>
    </div>
    <div class="main-menu-wrapper__main-menu">
        <a href="#" class="mobile-nav__toggler">
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
            <span class="mobile-nav__toggler-bar"></span>
        </a>

        <ul class="main-menu__list">
            <li class="dropdown">
                <a href="/page/service">@Localizer.GetLocalizedHtmlString("service")</a>
                <ul>
                    @foreach (var item in servicePost)
                    {
                        @if (item.Menu == null || item.Menu.Count <= 0)
                        {
                            <li>
                                <a href="/page/service/@item.Name">@item.Title</a>
                            </li>
                        }
                        else
                        {
                            @*  <li class="dropdown">
                                <a href="/page/service/@item.Name">@item.Title</a>
                                <ul>
                                @foreach (var childItem in item.Menu)
                                {
                                <li class="dropdown">
                                <a href="/page/service/@childItem.Name">@childItem.Title</a>
                                <ul>
                                <li >
                                <a href="#">ss</a>
                                </li>
                                </ul>
                                </li>
                                }

                                </ul>
                                </li>*@

                            <li class="dropdown">
                                <a href="/page/project/@item.Name">@item.Title</a>
                                <ul>
                                    @foreach (var childItem in item.Menu)
                                    {
                                        <li><a href="/page/project/@childItem.Name">@childItem.Title</a></li>
                                    }

                                </ul>
                            </li>
                        }

                    }

                </ul>

            </li>
            <li class="dropdown">
                <a href="/page/project">@Localizer.GetLocalizedHtmlString("project")</a>
                <ul>
                    @foreach (var item in projectPost)
                    {
                        @if (item.Menu == null || item.Menu.Count <= 0)
                        {
                            <li>
                                <a href="/page/project/@item.Name">@item.Title</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="/page/project/@item.Name">@item.Title</a>
                                <ul>
                                    @foreach (var childItem in item.Menu)
                                    {
                                        <li><a href="/page/project/@childItem.Name">@childItem.Title</a></li>
                                    }

                                </ul>
                            </li>
                        }

                    }


                </ul>
            </li>

            <li class="dropdown">
                <a href="/page/certificate">@Localizer.GetLocalizedHtmlString("certificate")</a>
                <ul>
                    @foreach (var item in certificatePost)
                    {
                        @if (item.Menu == null || item.Menu.Count <= 0)
                        {
                            <li>
                                <a href="/page/certificate/@item.Name">@item.Title</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="/page/certificate/@item.Name">@item.Title</a>
                                <ul>
                                    @foreach (var childItem in item.Menu)
                                    {
                                        <li><a href="/page/certificate/@childItem.Name">@childItem.Title</a></li>
                                    }

                                </ul>
                            </li>
                        }

                    }
                </ul>
            </li>

            <li class="dropdown">
                <a href="/page/product">@Localizer.GetLocalizedHtmlString("product")</a>
                <ul>
                    @foreach (var item in productPost)
                    {
                        @if (item.Menu == null || item.Menu.Count <= 0)
                        {
                            <li>
                                <a href="/page/product/@item.Name">@item.Title</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <a href="/page/product/@item.Name">@item.Title</a>
                                <ul>
                                    @foreach (var childItem in item.Menu)
                                    {
                                        <li><a href="/page/product/@childItem.Name">@childItem.Title</a></li>
                                    }

                                </ul>
                            </li>
                        }

                    }
                </ul>
            </li>

            <li class=""><a href="/contact">@Localizer.GetLocalizedHtmlString("contact")</a></li>

        </ul>
    </div>
</div>