@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Localization

@inject IOptions<RequestLocalizationOptions> LocOptions

@{

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
  
}

  <a class=" dropdown-toggle text-white" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
   <i class="fas fa-globe-americas"></i> @requestCulture.RequestCulture.Culture.Name.ToUpper()
  </a>

  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
<li> <a class="dropdown-item text-dark" asp-controller="Preference" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="en"><img src="~/flg/en.png"    class="flag"/> EN  </a></li>
    <li><a class="dropdown-item text-dark" asp-controller="Preference" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="az"><img src="~/flg/az.png" class="flag"/> AZ </a></li>
    <li><a class="dropdown-item text-dark" asp-controller="Preference" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="ru"><img src="~/flg/ru.png" class="flag"/> RU </a></li>
    <li><a class="dropdown-item text-dark" asp-controller="Preference" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path" asp-route-culture="tr"><img src="~/flg/tr.png" class="flag"/> TR </a></li>
  </ul>
