@model CmsA.Web.Models.Front.HomeVM
<section class="main-slider">
    <div class="swiper-container thm-swiper__slider" data-swiper-options='{"slidesPerView": 1, "loop": true,
            "effect": "fade",
            "pagination": {
                "el": "#main-slider-pagination",
                "type": "bullets",
                "clickable": true
            },
            "navigation": {
                "nextEl": "#main-slider__swiper-button-next",
                "prevEl": "#main-slider__swiper-button-prev"
            },
            "autoplay": {
                "delay": 5000
            }}'>
        <div class="swiper-wrapper">
            @foreach (var item in Model.Banners)
            {
                <div class="swiper-slide">
                    <div class="image-layer"
                     style="background-image: url(images/banner/@item.Image);">
                    </div>
                    <!-- <div class="image-layer-overlay"></div> -->
                <div class="main-slider-shape-1"></div>
                    <div class="main-slider-shape-2"></div>
                    <div class="main-slider-shape-3"></div>
                    <div class="main-slider-shape-4"></div>
                    <div class="main-slider-shape-5"></div>
                    <!-- /.image-layer -->
                <div class="container">
                        <div class="row">
                            <div class="col-lg-8">
                                <div class="main-slider__content">
                                    <h2>@item.Title</h2>
                                    <a href="@item.Url" class="thm-btn">@Localizer["more"]</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
        <!-- If we need navigation buttons -->
        <div class="main-slider__nav">
            <div class="swiper-button-prev" id="main-slider__swiper-button-next">
                <span class="main-slider__next-text"></span><i class="icon-right-arrow icon-left-arrow"></i>
            </div>
            <div class="swiper-button-next" id="main-slider__swiper-button-prev">
                <span class="main-slider__prev-text"></span><i class="icon-right-arrow"></i>
            </div>
        </div>
    </div>
</section>

<!--Real World Start-->
<section class="real-world">
    <div class="real-world-shape wow slideInLeft" data-wow-delay="100ms" data-wow-duration="2500ms"
         style="background-image: url(frontend/images/shapes/real-world-shape.png)"></div>
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Service.Title</h2>
            <span class="section-title__tagline">
                @Html.Raw(Model.Service.Description)
            </span>
        </div>
        <div class="row">
            @foreach (var item in Model.Service.LPosts)
            {
                <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                    <!--Real World Single-->
                <div class="real-world__single">
                        <h2 class="real-world__title">
                            <a href="business-growth.html">@item.Title</a>
                        </h2>
                        <a href="/service/@item.Name" class="real-world__btn">@Localizer["more"]</a>
                    </div>
                </div>
            }


        </div>
    </div>
</section>
<!--Real World Start-->
<!--Brand One Start-->
<section class="brand-one">
    <div class="container">
        <h4 class="brand-one__title">@Localizer["partners"]</h4>
        <div class="thm-swiper__slider swiper-container" data-swiper-options='{"spaceBetween": 100, "slidesPerView": 5, "autoplay": { "delay": 5000 }, "breakpoints": {
                    "0": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "375": {
                        "spaceBetween": 30,
                        "slidesPerView": 2
                    },
                    "575": {
                        "spaceBetween": 30,
                        "slidesPerView": 3
                    },
                    "767": {
                        "spaceBetween": 50,
                        "slidesPerView": 4
                    },
                    "991": {
                        "spaceBetween": 50,
                        "slidesPerView": 5
                    },
                    "1199": {
                        "spaceBetween": 100,
                        "slidesPerView": 5
                    }
                }}'>
            <div class="swiper-wrapper">
                @foreach (var item in Model.Partners)
                {
                    <div class="swiper-slide">
                        <img src="~/images/partner/@item.AppImage.Name" alt="@item.Name">
                    </div> <!-- /.swiper-slide -->
                }
            </div>
        </div>
    </div>
</section>
<!--Brand One End-->
<!--Welcome One Start-->
<section class="welcome-one">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__left">
                    <div class="welcome-one__img-box">
                        <div class="welcome-one__img-1">
                            <img src="~/images/video/@Model.Video?.Image" alt="">
                        </div>

                        <a href="@Model.Video?.URl"
                           class="welcome-one__video-btn video-popup">
                            <div class="welcome-one__video-btn-icon">
                                <i class="fa fa-play"></i>
                                <span class="ripple"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="welcome-one__right">
                    <h2 class="welcome-one__title">@Model.Video?.Title</h2>
                    @Html.Raw(Model.Video.Description)
                    <div class="welcome-one__progress">
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--Welcome One End-->
<!--Two Boxes Start-->
<section class="two-boxes">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6">
                <div class="two-boxes__single">
                    <div class="two-boxes__single-content">
                        <div class="two-boxes__count">
                            <span></span>
                        </div>
                        <div class="two-boxes__content">
                            <h3 class="two-boxes__title">@Model.MissionVission?.MissionTitle</h3>
                            @Html.Raw(Model.MissionVission?.Mission)
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="two-boxes__single">
                    <div class="two-boxes__single-content">
                        <div class="two-boxes__count">
                            <span></span>
                        </div>
                        <div class="two-boxes__content">
                            <h3 class="two-boxes__title">@Model.MissionVission?.VissionTitle</h3>
                             @Html.Raw(Model.MissionVission?.Vission)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Two Boxes End-->
<!--Cases One Start-->
<section class="cases-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Certificate?.Title</h2>
            <span class="section-title__tagline">@Html.Raw(Model.Certificate?.Description)</span>
        </div>
        <div class="row">
            @foreach (var item in Model.Certificate.LPosts)
            {
                  <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <!--Cases One Single-->
                <div class="cases-one__single">
                    <div class="cases-one__img-box">
                        <div class="cases-one__img">
                            <img src="~/images/post/@item.Image" alt="@item.Name">
                        </div>
                        <div class="cases-one__content">
                            @*<div class="cases-one__icon">
                                <span class="icon-mobile-analytics"></span>
                            </div>*@
                          @*  <p class="cases-one__tagline">@item.Name</p>*@
                            <h2 class="cases-one__tilte"><a href="/page/certificate/@item.Name">@item.Title</a></h2>
                        </div>
                    </div>
                </div>
            </div>
            }
          
          
        </div>
    </div>
</section>
<!--Cases One End-->
<!--googl map-->
<section class="counters-one">
    <div class="counters-one-bg" style="background-image: url(frontend/images/backgrounds/counter-one-bg.jpg)">
    </div>
    <div class="p-3">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4562.753041141002!2d-118.80123790098536!3d34.152323469614075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82469c2162619%3A0xba03efb7998eef6d!2sCostco+Wholesale!5e0!3m2!1sbn!2sbd!4v1562518641290!5m2!1sbn!2sbd"
                class="google-map__one" allowfullscreen></iframe>
    </div>

</section>
<!--googl map end-->
<!--News One Start-->
<section class="news-one">
    <div class="container">
        <div class="section-title text-center">
            <h2 class="section-title__title">@Model.Project.Title</h2>
            <span class="section-title__tagline">@Html.Raw(Model.Project?.Description)</span>
        </div>
        <div class="row">
            @foreach (var item in Model.Project.LPosts)
            {
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                <!--News One Single-->
                <div class="news-one__single">
                    <div class="news-one__img">
                        <img src="~/images/post/@item.Image" alt="">
                        <a href="blog-details.html">
                            <span class="news-one__plus"></span>
                        </a>
                    </div>
                    <div class="news-one__content">
                        <h3 class="news-one__title">
                            <a href="/page/project/@item.Name">@item.Title</a>
                        </h3>
                      @Html.Raw(item.Description)
                        <a href="/page/project/@item.Name" class="news-one__btn">@Localizer["more"]</a>

                    </div>
                </div>
            </div>
            }
        


        </div>
    </div>
</section>
<!--News One End-->
