@model CmsA.Web.Models.Front.PostVM
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">@Localizer.GetLocalizedHtmlString("home")</a></li>
                <li><span>/</span></li>
                <li><a href="/page/@Model.Post.PageId">@Model.Post.PageName</a></li>
                <li><span>/</span></li>
                <li>@Model.Post.Title</li>
            </ul>
            <div class="mt-3">
                @Html.Raw(Model.Post.Description)
            </div>
        </div>
    </div>
</section>
<!--Page Header End-->
<!--Services Details Start-->
<section class="services-details">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12">
                <div class="services-details__left">
                    <div class="services-details__img">
                        <img src="~/images/post/@Model.Post.Image" alt="">
                    </div>
                    <div class="services-details__top-content">
                        @Html.Raw(Model.Post.Content)
                    </div>
                    @if (!string.IsNullOrWhiteSpace(@Model.Post?.PDf))
                    {
                          <div class="news-details__bottom">
                        <p class="news-details__tags">
                            <span>@Localizer.GetLocalizedHtmlString("detail"):</span>
                            <a href="~/file/docs/@Model.Post?.PDf" class="ml-4" download="@Model.Post?.Title">@Localizer.GetLocalizedHtmlString("download")</a>
                        </p>

                    </div>
                    }
                  
                </div>
            </div>
        </div>
    </div>
</section>
<!--Services Details End-->
<!--ChildeCategpries start-->
@if (Model.ChildePosts.Count() > 0)
{
    <section class="welcome-one bg-gray postPadding">
        <div class="container">
            <div class="section-title text-center">
                <h2 class="section-title__title">@Localizer.GetLocalizedHtmlString("childeCategories")</h2>
            </div>
            <div class="row">
                @foreach (var item in Model.ChildePosts)
                {
                    <div class="col-xl-4 col-lg-4 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!--Cases One Single-->
                <div class="cases-one__single">
                            <div class="cases-one__img-box">
                                <div class="cases-one__img postChilde">
                                    <img class="postChilde" src="~/images/post/@item.Image" alt="@item.Name">
                                </div>
                                <div class="cases-one__content w-100 text-center">
                                    @*<div class="cases-one__icon">
                                        <span class="icon-mobile-analytics"></span>
                                        </div>*@
                                    @*  <p class="cases-one__tagline">@item.Name</p>*@
                                    <h2 class="cases-one__tilte"><a href="/page/product/@item.Name">@item.Title</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </section>
}
<!--ChildeCategpries end-->
<!--Gallery Start-->
@if (Model.Post.Gallery.Count() > 0)
{
    <section class="team-one postPadding">
        <div class="team-one__container">
            <div class="section-title text-center">
                <h2 class="section-title__title">@Localizer.GetLocalizedHtmlString("gallery")</h2>
            </div>


            <div id="postgallery" class="postgallery owl-carousel owl-theme animated-thumbnails">
                @foreach (var item in Model.Post.Gallery)
                {
                    <a class="item " href="~/images/post/@item">
                        <img src="~/images/post/@item" /> @*style="max-height: 200px; ;object-fit:cover"*@
                    </a>



                }

            </div>
        </div>
    </section>
}

<!--Gallery End-->
