@model CmsA.Web.Models.Front.ContactVM
<!--Page Header Start-->
<section class="page-header">
    <div class="page-header__bg"></div><!-- /.page-header__bg -->
    <div class="page-header-shape-1"></div><!-- /.page-header-shape-1 -->
    <div class="page-header-shape-2"></div><!-- /.page-header-shape-2 -->
    <div class="page-header-shape-3"></div><!-- /.page-header-shape-3 -->
    <div class="container">
        <div class="page-header__inner">
            <ul class="thm-breadcrumb list-unstyled">
                <li><a href="/">@Localizer.GetLocalizedHtmlString("home")</a></li>
                <li><span>/</span></li>
                <li>@Model.Page.Title</li>
            </ul>

        </div>
    </div>
</section>
<!--Page Header End-->

<!--Locations Start-->
<section class="locations">
    <div class="container">
        <div class="location__inner">
            <div class="section-title text-center">
                <h2 class="section-title__title">@Localizer.GetLocalizedHtmlString("contactus")</h2>
                <div class="section-title__tagline">
                    @Html.Raw(Model.Page.Content)
                </div>
            </div>

       
            <div class="row">
                @foreach (var item in Model.Page.LPosts)
                {

                              
                    <div class="col-xl-4 col-lg-6 col-md-6 wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <!--Locations Single-->
                    <div class="locations__single" style='height: 90%;'>
                            <h3 class="locations__title">@item.Title</h3>
                            <h4 class="locations__mail-phone-box">
                                <a href="@item.Description" class="locations__mail">
                                    @Html.Raw(item.Content)
                                </a>

                            </h4>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</section>
<!--Locations End-->

<!--Message Box Start-->
<section class="message-box">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-5">
                <div class="message-box__left">
                    <div class="section-title text-left">
                        <h2 class="section-title__title">@Localizer.GetLocalizedHtmlString("writeus")</h2>
                        <div class="section-title__tagline">@Model.Page.Description</div>
                    </div>

                </div>
            </div>
            <div class="col-xl-8 col-lg-7">
                <div class="message-box__right">
                    <form asp-controller="contact" asp-action="SendMessage" class="comment-one__form contact-form-validated"
                          novalidate="novalidate">
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="@Localizer.GetLocalizedHtmlString("fname")" asp-for="FullName">
                                    <div class="comment-form__icon">
                                        <i class="far fa-user-circle"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="@Localizer.GetLocalizedHtmlString("fphone")" asp-for="Phone">
                                    <div class="comment-form__icon">
                                      <i class="fas fa-phone"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6">
                                <div class="comment-form__input-box">
                                    <input type="email" placeholder="@Localizer.GetLocalizedHtmlString("fmail")" asp-for="Email">
                                    <div class="comment-form__icon">
                                        <i class="far fa-envelope"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <input type="text" placeholder="@Localizer.GetLocalizedHtmlString("ftitle")" asp-for="Title">
                                    <div class="comment-form__icon">
                                    <i class="far fa-comment"></i>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="comment-form__input-box">
                                    <textarea name="message" placeholder="@Localizer.GetLocalizedHtmlString("fmesage")" asp-for="Message"></textarea>
                                    <div class="comment-form__icon contact-expert__icon-comment">
                                        <i class="far fa-comment-alt"></i>
                                    </div>
                                </div>
                                <button type="submit" class="thm-btn comment-form__btn">@Localizer.GetLocalizedHtmlString("fsend")</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Message Box End-->



<!--Contact Page Google Map Start-->
<section class="google-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d189.45277274423896!2d49.70816720304945!3d40.558280635520255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030911b01f18a9f%3A0x51e4aac4a1be7d44!2sPetrol%20Station!5e0!3m2!1sru!2s!4v1640288120148!5m2!1sru!2s" class="google-map__one" allowfullscreen loading="lazy"></iframe>

</section>
<!--Contact Page Google Map End-->
