@model CmsA.Web.Models.Posts.PostIndexVM
<h3 class="m-3 mb-4">Posts -- @Model.PageName</h3>
<div class="row">
    <div class="col-md-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="order-listing" class="table order-listing">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Page</th>
                                <th>Parent</th>

                                <th class="float-right">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Posts)
                            {
                                <tr>
                                    <td>  @item.Name     </td>
                                    <td>  @item.PageName </td>
                                    <td> @(string.IsNullOrEmpty(item.ParentName)?"Main":item.ParentName)  </td>

                                    <td style='display: flex; align-items: center; justify-content: flex-end;'>
                                        <a class="float-right m-1" href="@Url.Action("Update", "Post",new { id = item.Id})"><i class="fas fa-pencil-alt"></i></a>
                                        <a class="float-right" href="@Url.Action("Delete", "Post",new { id = item.Id,pageId=Model.PageId})"><i class=" fas fa-trash"></i></a>
                                        <a class="float-right m-1" href="@Url.Action("Gallery", "Post",new { id = item.Id})"><i class="far fa-file-image"></i></a> 
                                        <a class="float-right m-1" href="@Url.Action("AddChilde", "Post",new { id = item.Id})"><i class="fas fa-plus"></i></a> 

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>